body {
    background-image: url(../assets/background.png);
    background-size: cover;
    font-family: "Helvetica";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#form {
    width: 25vw;
    padding: 40px 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.362);
    
}

.field {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.input {
    display: block;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: 0;
    padding-left: 2vw
  } 

  #enter {
    display: block;
    margin: 20px 0 0 auto;
    border-radius: 20px ;
    border: 0;
    padding: 5px 10px;
    background-color: #FFFFFF;
    right: 0;
    bottom: 0;
    font-weight: 700;
  }

  #enter:hover{
    cursor: pointer;
    background-color: #acbacb;
    transition: 100ms linear
  }

p {
    font-family: "Helvetica";
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    margin: 0
}

